# Default ignored files
/../../../../../../../../:menu-cook/.idea/shelf/
/../../../../../../../../:menu-cook/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:menu-cook/.idea/httpRequests/
